@media only screen and (max-width : 400px) {
	.signup-page {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: 'Josefin Sans', sans-serif;
	}
	
	.image {
		margin-bottom: 50px;
	}
	
	.title {
		font-size: 1.7em;
	}
}